* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* overflow: hidden; */
body {
  font-family: "Roboto";
  background: #cfcfcf;
  /* overflow: hidden; */
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

#navbar {
  background: white;
  color: rgb(13, 26, 38);
  /* position: fixed; */
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo img {
  position: absolute;
  left: -2em;
  top: -2.4em;

  /* display: none; */
  transform: scale(0.3);
}
#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}
@media (orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 1em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/* Content */

main,
.display-content {
  display: flex;
  flex-direction: row;
}

.content {
  height: 100vh;
  width: 50%;
  /* border: 2px solid black; */
}

.headings {
  margin: 4em;
  padding: 2em;
  width: 80%;
}

/* H1 is defined for ourself */
.content .h1 {
  font-size: 2em;
  font-weight: 700;
}
.content .h3 {
  font-size: 1.35em;
  padding-top: 1em;
  margin-bottom: 1em;
  font-weight: 500;
}

#upload-here {
  margin-top: 2em;
  margin-left: 8em;
}

/* Buttons */
.learn-btn {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.5em 1em;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  top: 1em;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.learn-btn:active {
  box-shadow: 0px 0px 0px 0px;
  bottom: 5px;
  right: 5px;
}

.upload-img {
  /* border:2px solid black; */
  background-color: #f9f3e5;
  box-shadow: 10px 10px 2px 4px rgba(0, 0, 0, 0.75);

  height: 45%;
  width: 45%;
  margin: 0 auto;
  transform: scale(1.28);

  position: relative;
  top: 16%;

  padding: 2em;
  border-radius: 24px;
}

.upload-img p {
  font-size: 1.5em;
  text-align: center;
}
.upload-img img {
  margin: 5% 40%;
}
#link {
  font-family: "Roboto";
  font-size: 0.8em;

  border: 2px solid black;
  width: 80%;
  padding: 10px;
  margin-top: 1.5em;

  position: relative;
  top: 15%;
  border-radius: 24px;
}

.choose-file {
  border: 2px solid black;
  width: 90%;
  padding: 1em 0em 1em 2em;
  margin: 1.45em 0.4em;

  border-radius: 2em;
  background-color: #fbeee0;
  transition: 1s;
}

.submit-btn {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 2em;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;

  position: relative;
  left: 30%;

  font-weight: 600;
  font-size: 18px;
  padding: 0.5em 1em;
  margin-top: 0.1em;

  text-align: center;
  touch-action: manipulation;
}

.submit-btn:hover {
  background-color: #fff;
}

.submit-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.results {
  margin: 4em;
  padding: 2em;
}

.sub-results {
  margin-top: 2em;
}

.sub-results p {
  padding-top: 1em;
  font-size: 1.2em;
}
.map {
  margin-top: 2em;
  border: 2px solid black;
}


.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin-top: 2em;

  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
