<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="/static/css/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav id="navbar" class="">
      <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
          <img src="{{ url_for('static', filename='logo.png') }}" alt=" " />
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
          <li><a href="#home">Home</a></li>
          <!--
   -->
          <li><a href="#services">Services</a></li>
          <!--
   -->
          <li><a href="#about">About</a></li>
          <!--
   -->
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>

    <!-- Main -->
    <main>
      <section class="content">
        <div class="headings">
          <p class="h1"><b>Audit of Heritage Monuments.</b></p>
          <p class="h3">
            Identify and get the exact location of 98000+ Monuments in Asia.
          </p>
          <a href="https://tfhub.dev/" target="_blank"
            ><button class="learn-btn" role="button">Learn More.</button></a
          >
        </div>

        <img src="/static/arrow.png" alt="" id="upload-here" />
      </section>

      <section class="content">
        <div class="upload-img">
          <img src="{{ url_for('static', filename='cloud.png') }}" alt=" " />

          <!-- <img src="/static/cloud.png" alt="" /> -->
          <p>Upload the image here.</p>

          <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="choose-file" />

            <button class="submit-btn">Submit</button>
          </form>
        </div>
      </section>
    </main>

    

    <div class="display-content" id="results">
      <section class="content">
        <div class="results">
          <div class="sub-results">
            <p class="h1">Predicted landmark is :-</p>
            <p>{{monu_details[0]}}</p>
          </div>
          <div class="sub-results">
            <p class="h1">Address to the Monument-</p>
            <p>{{monu_details[1][0]}}</p>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="results">
          <div class="sub-results">
            <p class="h1">Map for {{monu_details[0]}}</p>

            <form action="/map" method="post" enctype="multipart/form-data">
              <button class="learn-more">
                <span class="circle" aria-hidden="true">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Show on Map</span>
              </button>
            </form>
          </div>

          <div class="sub-results">
            <p class="h1">Latitude and Longitude</p>
            <p>Latitude - {{monu_details[1][1]}}</p>
            <p>Longitude - {{monu_details[1][2]}}</p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
